
//*** ButtonGr ***
.button-footer{
    button{
         background: #2ecc71;
         border: none;
         color: white;
         font-weight: 700;
         padding: 15px 25px
    }
    //text-align: right;
    font-size: 12px;
}