@import './Header/header.scss';
@import './Footer/index.scss';
@import './Home/home.scss';
@import './Elements//index.scss';
@import './About//about.scss';
@import './Work/work.scss';
@import './Contact/contact.scss';


.page-title{
    color:white;
    background: #2ecc71;
    h2{
        padding: 40px 0;
    }
}
.text-align-center{
    text-align: center;
}
p{
    font-size: 14px;
}


